body {
    background-color: #146;
    font-family: "helvetica";
	font-size: 12pt;
    color: #000;
	margin: 0;
}

#container {
	padding: 1px 30px 30px 30px;
	background-color: #fff;
    margin: 0 auto;
    width: 760px;
}

#map {
	width:760px;
	height:350px;
	position:relative;
}

h1 {
    font-size: 3.2em;
    color: #1d1e06;
    margin-bottom: 3px;
}

h1 span.subtitle {
	display:block;
	font-size: 0.4em;
}

h1 a {
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
    color: #1d1e06;
}

h3 {
    text-align: center;
    color: #1d1e06;
}

a {
    color: #1d1e06;
}

.description {
    font-size: 1.2em;
    margin-bottom: 30px;
    margin-top: 30px;
    font-style: italic;
}

.download {
    float: right;
}

.footer {
    text-align: center;
    padding-top: 30px;
    font-style: italic;
}

